* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  z-index: 1;
}

.logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #32cd32; /* Green */
  color: white;
}

.nav-links li a:hover {
  color: #f4b400;
}
